.page-template-tmpl-people .header.sticky {
  padding-left: 2.3em; }
.page-template-tmpl-people .container_custom {
  width: 45em; }

.table-bordered,
.table-bordered td,
.table-bordered th,
.table thead th {
  border: 0; }

.table-hover tbody tr:hover {
  background-color: initial; }

.th-inner,
td {
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  color: #808080;
  letter-spacing: -.3px;
  line-height: 1.5; }

.bootstrap-table .fixed-table-container .table th,
.bootstrap-table .fixed-table-container .table td {
  font-weight: 300;
  padding-left: 0;
  padding-top: .15em;
  padding-bottom: .15em; }

.bootstrap-table .fixed-table-toolbar .search.float-right {
  float: left !important;
  width: 30%; }
  .bootstrap-table .fixed-table-toolbar .search.float-right .form-control {
    font-weight: 300; }
    .bootstrap-table .fixed-table-toolbar .search.float-right .form-control:focus {
      border-color: #ff7a33;
      box-shadow: 0 0 0 0.2rem rgba(255, 130, 61, 0.55); }

.bootstrap-table .fixed-table-container .table thead th .th-inner {
  font-weight: 400;
  padding-left: 0;
  color: #ff7a33;
  text-transform: uppercase; }
.bootstrap-table .fixed-table-container .table thead th .both,
.bootstrap-table .fixed-table-container .table thead th .asc,
.bootstrap-table .fixed-table-container .table thead th .desc {
  background-image: none; }
.bootstrap-table .fixed-table-container .table thead th .both {
  display: flex; }
  .bootstrap-table .fixed-table-container .table thead th .both:before, .bootstrap-table .fixed-table-container .table thead th .both:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #c8c8c8;
    position: absolute;
    margin-left: -1em; }
  .bootstrap-table .fixed-table-container .table thead th .both:before {
    content: "\f0d8";
    margin-top: -5px; }
  .bootstrap-table .fixed-table-container .table thead th .both:after {
    content: "\f0d7";
    margin-top: 3px; }
  .bootstrap-table .fixed-table-container .table thead th .both.asc:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0d8";
    color: #ff7a33;
    position: absolute;
    margin-top: -5px;
    margin-left: -1em; }
  .bootstrap-table .fixed-table-container .table thead th .both.desc:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0d7";
    color: #ff7a33;
    position: absolute;
    margin-top: 3px;
    margin-left: -1em; }

#contact p {
  font-weight: 300;
  margin-bottom: .1em;
  margin-top: .1em; }
#contact .container_custom a {
  color: #ff7a33; }

.section-general p:last-of-type {
  margin-bottom: 1rem; }

.section-parking ul li,
.section-access ul li,
.section-driving ul li {
  display: list-item;
  margin-left: 1em; }
  .section-parking ul li:before,
  .section-access ul li:before,
  .section-driving ul li:before {
    content: "\25AA";
    padding-right: .7em;
    margin-left: -1em; }

.section-location ul li,
.section-parking ul li,
.section-access ul li {
  font-weight: 300; }

.section-transit ul li,
.section-driving ul li {
  margin-bottom: .5em;
  margin-top: 1em; }

.section-address .bold-text {
  margin-right: .1em; }

.section-transit a:hover {
  text-decoration: none; }
.section-transit .transit-icon {
  color: white;
  font-weight: 500; }
  .section-transit .transit-icon.subway-icon {
    border-radius: 50%;
    display: inline;
    padding: 0 .3em;
    font-size: .8em; }
  .section-transit .transit-icon.bus-icon {
    font-size: .85em;
    padding: 0 .25em; }

.section-access img {
  width: 5%;
  margin-left: .1em;
  vertical-align: bottom; }

.section-staff .people-wrapper {
  margin-top: -.7em; }
.section-staff .person-wrapper h3 {
  margin-top: 1.5em;
  font-weight: 400; }
.section-staff .person-wrapper p {
  font-weight: 500 !important; }
  .section-staff .person-wrapper p a {
    font-weight: 300; }

.program-wrapper p {
  font-weight: 300;
  margin-top: 0.1em;
  margin-bottom: 0.1em; }
  .program-wrapper p a {
    color: #ff7a33; }

.page-template-tmpl-programs h3 {
  color: #808080;
  margin-left: -1.4em;
  margin-top: 1em; }
  .page-template-tmpl-programs h3:before {
    content: '\25AA';
    color: #ff7a33;
    padding-right: 1.1em; }

* {
  box-sizing: border-box;
  margin-bottom: 0.1em; }

a {
  text-decoration: none; }
  a:hover {
    color: #ff7a33;
    text-decoration: underline; }

ul {
  list-style: none;
  padding-left: 0; }

img {
  width: 100%;
  height: auto; }

body {
  font-size: 1em;
  color: #808080;
  font-family: "Oswald", sans-serif; }

p,
li,
a {
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  color: #808080;
  letter-spacing: -0.3px;
  line-height: 1.5;
  font-weight: 300; }

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  color: #ff7a33;
  letter-spacing: -0.3px;
  line-height: 1.5;
  font-weight: 500;
  text-transform: uppercase; }

h2 {
  margin-bottom: 0.5em;
  margin-top: 1.5em; }

h3 {
  margin-bottom: 0.25em;
  margin-top: 0.1em; }

ul {
  margin-top: 0.5em; }

.bold-text, strong {
  font-weight: 500; }

.medium-text {
  font-weight: 400; }

.orange-text {
  color: #ff7a33; }

.italic-text {
  font-style: italic; }

.title {
  text-transform: uppercase;
  color: #ff7a33;
  font-weight: 500; }

.symbol {
  vertical-align: super;
  font-size: 0.6em; }

.mt1 {
  margin-top: 0.1em;
  margin-bottom: 0; }

.mb-05 {
  margin-bottom: 0.5em; }

.mt-05 {
  margin-top: 0.5em; }

.ml-0 {
  margin-left: 0 !important; }

.ml1 {
  margin-left: 1em; }

.top a {
  color: #ff7a33; }

.empty {
  opacity: 0; }

.container_custom,
.info-wrapper {
  width: 39.424em;
  margin-left: 10.28em; }

.container_custom.padding {
  margin-top: 235px; }

.header {
  padding-left: 2.71em;
  padding-top: 2.71em;
  padding-bottom: 1em;
  margin: -8px;
  background-color: #fff;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999; }
  .header.sticky {
    box-shadow: 0px -6px 17px 0px #8080807d;
    position: fixed;
    margin: 0;
    display: flex;
    padding-top: 1.71em;
    padding-left: 2.1em;
    transition: all 150ms ease-in-out; }
    .header.sticky img {
      width: 80%; }
    .header.sticky .menu-wrapper.aligned {
      margin-left: 0; }
    .header.sticky .menu-wrapper .directory {
      margin-bottom: 0.25em; }
  .header .logo-wrapper {
    width: 8em;
    margin-bottom: 0.7em; }
  .header .menu-wrapper {
    margin-left: 8em; }
    .header .menu-wrapper.aligned {
      margin-left: 1em;
      align-self: flex-end; }
    .header .menu-wrapper .menu {
      text-transform: uppercase; }
      .header .menu-wrapper .menu a {
        color: #808080;
        font-size: 1em;
        font-weight: 500;
        margin: 0 3px; }
        .header .menu-wrapper .menu a.active {
          color: #ff7a33; }
      .header .menu-wrapper .menu ul {
        margin-top: 9px; }
        .header .menu-wrapper .menu ul li {
          font-size: 1em;
          color: #a6a6a6;
          display: inline; }
    .header .menu-wrapper .directory {
      text-transform: uppercase;
      margin-bottom: 0.5em;
      margin-top: 0.5em; }
      .header .menu-wrapper .directory li {
        display: inline;
        margin-right: 10px;
        font-size: 0.95em; }
        .header .menu-wrapper .directory li:after {
          content: "\3E";
          margin-left: 3px; }
        .header .menu-wrapper .directory li a {
          color: #ff7a33;
          font-size: 0.95em;
          font-weight: 400;
          cursor: pointer; }
          .header .menu-wrapper .directory li a:hover {
            text-decoration: underline; }

.text-body p {
  color: #808080;
  font-weight: 300;
  margin-bottom: 1em; }
  .text-body p a {
    color: #ff7a33; }

.footer {
  margin-top: 2em;
  margin-bottom: 1em; }
  .footer .info-wrapper .info-address .ml {
    margin-left: 0.15em; }
  .footer .info-wrapper p {
    text-transform: uppercase;
    text-align: justify;
    font-weight: 300;
    font-size: 0.8em; }

@media all and (max-width: 900px) {
  .container_custom .people-wrapper.grid {
    grid-template-columns: 30% 30% 40%;
    display: grid; } }
@media all and (min-width: 2000px) {
  #people .container_custom {
    max-width: 45%; } }
@media all and (min-width: 1400px) {
  #people .container_custom {
    width: calc(100vw - 40%); } }
@media all and (max-width: 1000px) {
  #people .container_custom {
    width: calc(100vw - 20%); } }
@media all and (max-width: 800px) {
  body {
    margin-left: 0.9em;
    margin-right: 0.9em; }

  .container_custom,
  .footer,
  .info-wrapper,
  .header .menu-wrapper {
    width: 100% !important;
    margin-left: 0; }

  .container_custom,
  .footer {
    padding-left: 2.3em; }

  .info-wrapper .info-address {
    text-align: initial;
    word-spacing: 0; }

  .header .logo-wrapper {
    margin-left: 0; }
  .header .menu {
    margin-left: 0; }
    .header .menu a:first-child {
      margin-left: 0; }

  .people-wrapper.grid p,
  .people-wrapper.grid li {
    font-size: 80%; } }
@media all and (max-width: 580px) {
  p,
  li {
    font-size: 84%; }

  .logo-wrapper {
    width: 7em; }

  .container_custom,
  .footer,
  .info-wrapper,
  .header .menu-wrapper {
    margin-left: 0; }

  .container_custom,
  .footer {
    padding-left: 2.3em; }

  .header .menu {
    margin-left: 0em; }
  .header .logo-wrapper {
    margin-left: 0; }

  .logo-text-wrapper {
    padding-left: 0; }

  .people-wrapper.grid p,
  .people-wrapper.grid li {
    font-size: 74%; } }
@media all and (max-width: 490px) {
  .info-wrapper p span {
    margin-left: 0; }

  .container_custom .people-wrapper.grid {
    grid-template-columns: 25% 28% 40%; } }

/*# sourceMappingURL=mainstyle.css.map */
