@import "variables";
// MENu STYLING
.header {
  .menu-wrapper { 
    .menu {
      ul {
        li {
          &.current_page_item {
            a {
              color: $primary-color;
            }
          }
          &:after {
            content: ':';
            margin-left: 3px;
          }
          &:last-child:after {
            content: '';
          }
          &:first-of-type {
            a {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}

// HOME PAGE = PROFILE PAGE
.page-template-tmpl-hp {
  .header {
    &.sticky {
      position: initial;
    }
  }
  .container_custom {
    &.padding {
      padding-top: initial;
    }
  }
}

// CONTACT PAGE 
.page-template-tmpl-contact {
  p {
    font-weight: $light-font;
    margin-bottom: 0.1em;
    margin-top: 0.1em;
  }
  .container_custom {
    a {
      color: $primary-color;
    }
  }
  li {
    a {
      img {
        width: 3%;
        margin-right: 2px;
      }
      &:last-of-type {
        img {
          margin-right: 0;
        }
      }
    }
    
    &:last-of-type {
      a {
        img {
          width: 5%;
          margin-right: 0;
        }
      }
    }
  }
}

// PEOPLE PAGE
.page-template-tmpl_people {
  .container_custom {
    width: 47.424em;
  }
}
